<div class="card-content">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="">
    <span>
      <h4>{{position}}</h4>
    </span>
  </div>
  <div class="card-desc">
    <h3>{{destino.nombre}}</h3>
    <p>Servicios</p>
    <ul>
      <li *ngFor="let s of destino.servicios">
        <span [ngSwitch]="s">
          <i *ngSwitchCase="'desayuno'" class="text-success">{{s}}</i>
          <i *ngSwitchDefault class="text-muted">{{s}}</i>
        </span>
      </li>
    </ul>
    <a href="#" class="btn-card" (click)="ir()">Ir</a>
    <span class="ml-2" *ngIf="destino.isSelected()">
      Preferido
      <i ngNonBindable class="text-muted">{{a}}</i>
    </span>
  </div>
</div>
